/*=============== HOME ===============*/
.home{
   position: relative;
   height: 100vh;
   background-color: var(--black-color);

   &__container{
      position: relative;
      height: 70%;
      background: var(--radial-color);
      display: grid;
      justify-items: center;
      overflow: hidden;
   }
   &__container img{
      position: absolute;
   }
   &__grass,
   &__pumpkin{
      bottom: 0;
   }
   &__stone{
      bottom: -.5rem;
      width: 470px;
   }
   &__tree{
      bottom: .5rem;
      width: 470px;
   }
   &__moon{
      bottom: 2rem;
      width: 590px;
   }
   &__stone,
   &__tree,
   &__moon{
      max-width: initial;
   }
   &__shadow,
   &__points{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
   &__shadow{
      mix-blend-mode: overlay;
   }
   &__titles{
      position: absolute;
      bottom: 11rem;
      text-align: center;
   }
   &__subtitle,
   &__title{
      color: var(--black-color);
      font-family: var(--second-font);
      font-weight: var(--font-regular);
      text-shadow: 0 2px 8px var(--first-color);
   }
   &__subtitle{
      font-size: var(--big-font-size);
   }
   &__title{
      font-size: var(--biggest-font-size);
   }
   &__data{
      position: absolute;
      bottom: 4rem;
      text-align: center;
      margin-inline: 1.5rem;
   }
   &__description{
      margin-bottom: 2rem;
   }
   &__button{
      display: inline-grid;
      position: relative;
      place-items: center;
      transition: filter .4s;
      
      & span{
         position: absolute;
         color: var(--white-color);
         font-size: var(--small-font-size);
         font-weight: var(--font-medium);
      }
      &:hover{
         filter: drop-shadow(0 4px 24px hsla(185, 100%, 48%, .6));
      }
   }
}